<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= character.name %> @ <%= character.realm %></title>
	<style>
	.summary-inventory-simple {
		position: relative;
		width:612px;
		height: 455px;
	}
	.slot {
		position: absolute;
		border-radius: 4px;
	}
	</style>
</head>
<body>
World of Warcraft®
Log in now to enhance and personalize your experience!

    World of Warcraft
    Community
    <%= character.name %> @ <%= character.realm %>

<%= character.name %>
Elder
<%= character.guild.name %>
<%= character.level %> <%= races[character.race] %> Elemental <%= classes[character.class] %>, <%= character.realm %>
<%= character.achievementPoints %>

<ul>
    <li>Summary</li>
    <li>Auctions</li>
    <li>Events</li>
    <li>Achievements</li>
    <li>Challenge Mode</li>
    <li>Pets & Mounts</li>
    <li>Professions</li>
    <li>Reputation</li>
    <li>PvP</li>
    <li>Activity Feed</li>
    <li>Guild</li>
</ul>

    Advanced
    Simple









// div position:absolute; width:500px; height: 500pxc;
<div id="summary-inventory" class="summary-inventory summary-inventory-simple">
<% for (var i = 0; i < slots.length; i++) { %>
	<div xmlns="http://www.w3.org/1999/xhtml" class="slot item-quality-3" style="<%= positionHelper(slots[i].pos) %>">
		<div class="slot-inner">
			<div class="slot-contents">
				<% if (character.items[slots[i].name]) { %>
					<a href="/wow/en/item/<%= character.items[slots[i].name].id %>" class="item" data-item="pl=93&amp;cc=11&amp;bl"><img src="http://media.blizzard.com/wow/icons/56/<%= character.items[slots[i].name].icon %>.jpg" alt="" /><span class="frame"></span></a>
				<% } else { %>

				<% } %>
			</div>
		</div>
	</div>
<% } %>
</div>

Average item level
(532 Equipped)
532
Talents
View in Talent Calculator
Restoration
Elemental

    Astral Shift
    Earthgrab Totem
    Call of the Elements
    Ancestral Swiftness
    Ancestral Guidance
    Unleashed Fury
    100

    Major Glyphs

    Minor Glyphs

    Health84040 Mana78000 

General

    Intellect 1499
    Spell Power 1998
    Multistrike 30.09%

Other

    Crit 9.53%
    Haste 25.28%
    Mastery 102.08%
    Versatility 0.44%

Show all stats
Recent Activity	

        Obtained Spaulders of Meditative Focus of the Deft. 
    6 days ago

        Earned the achievement Where's the Mailbox? for 5 points. 
    4/21/2015

        Earned the achievement Iron Chef for 10 points. 
    4/21/2015

        Earned the feat of strength Crashin' Thrashin' Shredder. 
    3/8/2015

View earlier activity
Player vs. Player

    0 Battleground rating
    3188 Honorable kills

Professions

    Enchanting 602
    Jewelcrafting 615

Pets	
Challenge Mode
0
0
0
Raid Progression
LFR
Normal
Heroic
Mythic
	
Trivial
		
Optimal
		
Challenging
	
MC
	
	
BWL
	
	
AQ10
	
	
AQ40
	
	
Kar
	
	
Mag
	
	
Gru
	
	
SSC
	
	
TK
	
	
MH
	
	
BT
	
	
SP
	
	
VoA
	
	
Nax
	
	
OS
	
	
EoE
	
	
Uld
	
	
Ony
	
	
ToC
	
	
ICC
	
	
RS
	
	
BH
	
	
BD
	
	
BoT
	
	
TFW
	
	
FL
	
	
DS
	
	
MV
	
	
HoF
	
	
TES
	
	
ToT
	
	
SoO
	
	
HM
	
	
BRF
	
																																																					
		
		
		
		
		
		
		
	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
																																					
		
		
				
		
		
		
		
		
		
		
		
		
		
		
																																																															
		
		
Completed In progress
Last updated on 05/04/2015
</body>
</html>